# general files
*.txt
*.exe
*.o
*.ca

# customized files
*.data
*.py
test/
exp/

# Visio Studio files
*.sln
*.vcxproj
*.vcxproj.filters
*.opensdf
*.sdf
.vs/
Debug/

# IDE
.idea/
cmake-build-debug/

# Mac crap
.DS_Store
