# general files
*.txt
*.exe
*.o
*.ca
test/

# but not these
!specification.txt
!constraint.txt

# executable file
DPSO

# Visio Studio files
*.sln
*.vcxproj
*.vcxproj.filters
*.opensdf
*.sdf
.vs/
Debug/

# IDE
.idea/
cmake-build-debug/

# Mac crap
.DS_Store
